button {
    border: none;
    outline: none;
    width: 100%;
    padding: 7px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
  }
  